.App{
    text-align: center;
    justify-content: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: start;
}
.btn{
    margin-right: 5px;
}
.container{
    width: 600px;
}